* {
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
body,
html {
  height: 100%;
  margin: 0;
}

.hero-image {
  background-image: url("../img/header/header.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@keyframes fade_from_bottom {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  95% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.hero-text {
  animation: fade_from_bottom 1s;

  opacity: 1;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(3px);

  text-align: center;
  border-radius: 51px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 2px black;

  h1 {
    font-size: 50px;
  }
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  background-color: #262626;
  .nav-container {
    nav {
      .nav-list {
        width: fit-content;
        float: left;
        .menu-item {
          display: inline-block;

          padding: 10px;
          margin-right: 10px;
          span,
          a {
            text-decoration: none;
            color: white;
            cursor: pointer;
          }
          .nav-dropdown {
            display: none;
            position: absolute;
            background-color: white;
            padding: 20px;
            margin-top: 10px;

            list-style: none;

            min-width: fit-content;
            @media screen and(max-width: 360px) {
              right: 10px;
            }

            &:not(:first-child) {
              @media screen and(max-width: 500px) {
                right: 10px;
              }
            }
            &.right-10 {
              @media screen and(max-width: 1000px) {
                right: 10px;
              }
            }
            li {
              a {
                text-decoration: none;
                color: black;
              }
              margin-bottom: 5px;
            }
          }

          &:hover {
            .nav-dropdown {
              display: block;
            }
          }
        }
      }
    }
  }
}

#leden {
  margin-top: 80px;
  .wrapper {
    font-size: 1.25em;
    h1 {
      font-size: 3em;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
    }
    p {
      width: 800px;
      margin: auto;
      margin-bottom: 40px;
      font-size: 1em;
    }

    .leden {
      display: grid;
      grid-template-columns: 300px 300px 300px 300px;
      column-gap: 66.6px;

      @media screen and (max-width: 1400px) {
        grid-template-columns: 300px 300px 300px;
      }
      @media screen and (max-width: 1000px) {
        grid-template-columns: 300px 300px;
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: 300px 300px;
      }
     

      .lid {
        img {
          overflow: hidden;
          border-radius: 50%;
          width: 300px;
          height: 300px;
        }
        h3 {
          text-align: center;
        }
      }
    }
  }
}

footer {
  box-sizing: border-box;
  background-color: #262626;
  height: 100px;
  padding: 42px;
  p {
    width: fit-content;
    margin: auto;
    font-size: 16px;
    color: #9f9f9f;
  }
}

spacer {
  display: block;
  height: 110vw;
}

/* Table style */
.content {
  $table-border-color: hsl(220, 20%, 80%);
  $table-stripe-color: hsl(220, 70%, 94%);
  html {
    background: linear-gradient(-45deg, hsl(220, 20%, 10%), hsl(220, 20%, 40%));
    padding: 1rem;
  }
  body {
    background: linear-gradient(-45deg, hsl(220, 20%, 80%), hsl(220, 20%, 95%));
    padding: 3rem;
    color: hsl(220, 10%, 40%);
  }
  legend,
  th {
    color: hsl(220, 80%, 10%);
  }
  table {
    //background: hsla(220, 0%, 100%, 0.9);
    border-collapse: collapse;
    margin: 2rem 0 0;
    text-align: left;
    width: 100%;
  }
  caption {
    padding: 1rem;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    caption-side: bottom;
  }
  tbody {
    background-color: hsla(220, 0%, 100%, 0.9);
  }
  thead {
    background-color: hsla(220, 20%, 95%, 0.9);
    th,
    td {
      border-bottom-width: 2px;
    }
  }
  th,
  td {
    border: 1px solid $table-border-color;
    border-color: transparent transparent $table-border-color transparent;
    padding: 1rem;
  }
  .compact {
    th,
    td {
      padding: 0.5rem;
    }
  }
  .bordered {
    th,
    td {
      border-color: hsl(220, 20%, 80%);
    }
  }
  .striped {
    tbody tr:nth-child(odd) {
      background-color: $table-stripe-color;
    }
  }

  code {
    font-family: monospace;
    font-weight: bold;
    color: hsl(50, 100%, 10%);
    background: hsla(50, 100%, 50%, 0.8);
    border-radius: 2px;
  }

  img {
    width: 800px;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.75rem;
  }
  p {
    font-size: 1.5rem;
  }
}
